@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Comic+Relief:wght@400;700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Rubik+Distressed&display=swap');
@import "tailwindcss";

@theme {
    --font-display: "Arimo", "sans-serif";
    --font-display2: "Rubik", "sans-serif";
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@layer {
  body {
    @apply bg-[#f2f9ff]
  }
}

@theme {
  --font-title: "JetBrains Mono", "monospace";
  --font-titles: "Nunito", "sans-serif";
  --font-head: "Archivo Black", "sans-serif";
  --font-small: "Josefin Sans", "sans-serif";
  --font-icon: "Rubik Distressed", "system-ui";
}